openapi: 3.1.0
info:
  title: Reportify API
  version: 1.0.0
  description: API documentation for Reportify's document management and search services.
servers:
  - url: https://api.reportify.cn
    description: Production server
security:
  - BearerAuth: []
paths:
  /v1/oauth/token:
    post:
      tags:
      - openapi-oauth
      summary: Create Token
      operationId: create_token_reportify_api_v1_oauth_token_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_create_token_reportify_api_v1_oauth_token_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs:
    post:
      tags:
      - openapi-docs
      summary: Doc List
      description: Doc list
      operationId: doc_list_reportify_api_v1_docs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsListRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs/symbols:
    post:
      tags:
      - openapi-docs
      summary: Query Docs By Symbols
      description: Retrieve docs for the specified symbols
      operationId: query_docs_by_symbols_reportify_api_v1_docs_symbols_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsSymbolsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAISearchDocsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs/tags:
    post:
      tags:
      - openapi-docs
      summary: Query Docs By Tags
      description: Retrieve docs for the specified tags
      operationId: query_docs_by_tags_reportify_api_v1_docs_tags_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsTagsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAISearchDocsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs/{doc_id}:
    get:
      tags:
      - openapi-docs
      summary: Get Doc Contents
      description: Retrieve the full content of a document or a specific part of it
      operationId: get_doc_contents_reportify_api_v1_docs__doc_id__get
      parameters:
      - required: true
        schema:
          type: string
          title: Doc Id
        name: doc_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocContentsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs/{doc_id}/raw-content:
    get:
      tags:
      - openapi-docs
      summary: Get Doc Raw Content
      description: Retrieve raw content of the specified document.
      operationId: get_doc_raw_content_reportify_api_v1_docs__doc_id__raw_content_get
      parameters:
      - required: true
        schema:
          type: string
          title: Doc Id
        name: doc_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocContentsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []      
  /v1/docs/{doc_id}/summary:
    get:
      tags:
      - openapi-docs
      summary: Get Doc Summary
      description: Retrieve the summary of the specified document.
      operationId: get_doc_summary_reportify_api_v1_docs__doc_id__summary_get
      parameters:
      - required: true
        schema:
          type: string
          title: Doc Id
        name: doc_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocSummaryResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs/folder/create:
    post:
      tags:
      - openapi-files
      summary: Create Folder
      description: OAI docs folder create
      operationId: create_folder_reportify_api_v1_docs_folder_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIFolderCreateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIFolderResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs/upload:
    post:
      tags:
      - openapi-files
      summary: Upload Docs
      description: OAI docs upload
      operationId: upload_docs_reportify_api_v1_docs_upload_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsUploadRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocsUploadResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs/upload/form:
    post:
      tags:
      - openapi-files
      summary: Upload Doc By Form
      description: Upload files via form
      operationId: upload_doc_by_form_reportify_api_v1_docs_upload_form_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_doc_by_form_reportify_api_v1_docs_upload_form_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocsIdResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs/upload/async:
    post:
      tags:
      - openapi-files
      summary: Upload Docs Async
      description: OAI docs upload async
      operationId: upload_docs_async_reportify_api_v1_docs_upload_async_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsUploadRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocsUploadResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs/{doc_id}/upload/status:
    get:
      tags:
      - openapi-files
      summary: Get Upload Docs Status
      description: OAI docs upload status
      operationId: get_upload_docs_status_reportify_api_v1_docs__doc_id__upload_status_get
      parameters:
      - required: true
        schema:
          type: string
          title: Doc Id
        name: doc_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocsUploadStatusResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs/folder/delete:
    delete:
      tags:
      - openapi-files
      summary: Delete Folder
      description: OAI docs folder delete, include files in folder
      operationId: delete_folder_reportify_api_v1_docs_folder_delete_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIFolderDeleteRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIFolderDeleteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/docs/delete:
    delete:
      tags:
      - openapi-files
      summary: Delete Docs
      description: OAI docs delete
      operationId: delete_docs_reportify_api_v1_docs_delete_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsDeleteRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocsDeleteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/search:
    post:
      tags:
      - openapi-search
      summary: Search Docs
      description: Search for documents based on specified criteria.
      operationId: search_docs_reportify_api_v1_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAISearchDocsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAISearchDocsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/search/chunks:
    post:
      tags:
      - openapi-search
      summary: Search Chunks
      description: Perform semantic search on document chunks based on specified criteria.
      operationId: search_chunks_reportify_api_v1_search_chunks_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAISearchChunksRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAISearchChunksResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v2/search:
    post:
      tags:
      - openapi-v2-search
      summary: Search
      description: Comprehensive search of financial and investment documents, covering various types
      operationId: search_reportify_api_v2_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchToolsSearchRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v2/search/earnings-pack:
    post:
      tags:
      - openapi-v2-search
      summary: Earnings Pack Search
      description: Earnings pack documents search, covering all financial statements
      operationId: earnings_pack_search_reportify_api_v2_search_earnings_pack_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchToolsEarningsPackRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v2/search/conference-calls:
    post:
      tags:
      - openapi-v2-search
      summary: Conference Calls Search
      description: Earnings call conference search, earnings calls conference transcript and conference slide content
      operationId: conference_calls_search_reportify_api_v2_search_conference_calls_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchToolsConferenceCallsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v2/search/minutes:
    post:
      tags:
      - openapi-v2-search
      summary: Minutes Search
      description: Various conference call materials search, covering industry conferences, and investor relations meetings
      operationId: minutes_search_reportify_api_v2_search_minutes_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchToolsMinutesRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v2/search/reports:
    post:
      tags:
      - openapi-v2-search
      summary: Reports Search
      description: Institutional research reports search, covering company research, industry research, macroeconomic analysis, strategy reports and more
      operationId: reports_search_reportify_api_v2_search_reports_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchToolsReportsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v2/search/filings:
    post:
      tags:
      - openapi-v2-search
      summary: Filings Search
      description: Company announcements search, covering major event disclosures, prospectuses, and other filings documents
      operationId: filings_search_reportify_api_v2_search_filings_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchToolsFilingsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v2/search/news:
    post:
      tags:
      - openapi-v2-search
      summary: News Search
      description: Financial and investment news search, covering various public media content
      operationId: news_search_reportify_api_v2_search_news_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchToolsNewsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v2/search/socials:
    post:
      tags:
      - openapi-v2-search
      summary: Socials Search
      description: Social media content search, covering X, Youtube, Wechat, Podcasts and more
      operationId: socials_search_reportify_api_v2_search_socials_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchToolsSocialsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v2/search/webpages:
    post:
      tags:
      - openapi-v2-search
      summary: Webpages Search
      description: Retrieve the full content of a webpage
      operationId: webpages_search_reportify_api_v2_search_webpages_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchToolsWebpagesRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/stock/company-overview:
    post:
      tags:
      - openapi-v2-stock
      summary: Company Overview
      description: Comprehensive search of company information, covering fundamental details, business overview, executive profiles and more
      operationId: company_overview_reportify_api_v2_stock_company_overview_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyOverviewInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/stock/company-shareholders:
    post:
      tags:
      - openapi-v2-stock
      summary: Company Shareholders
      description: List of outstanding shareholders of the company
      operationId: company_shareholders_reportify_api_v2_stock_company_shareholders_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyShareholdersInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/stock/stock-quote:
    post:
      tags:
      - openapi-v2-stock
      summary: Stock Quote
      description: Current and historical prices, trading volumes, market capitalizations, P/E ratios, and P/S ratios of stocks
      operationId: stock_quote_reportify_api_v2_stock_company_prices_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockQuoteInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/stock/company-income-statement:
    post:
      tags:
      - openapi-v2-stock
      summary: Company Income Statement
      description: Current and historical income statements of publicly listed companies
      operationId: company_income_statement_reportify_api_v2_stock_company_income_statement_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyIncomeStatementInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/stock/company-balance-sheet:
    post:
      tags:
      - openapi-v2-stock
      summary: Company Balance Sheet
      description: Current and historical balance sheet of publicly listed companies
      operationId: company_balance_sheet_reportify_api_v2_stock_company_balance_sheet_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyBalanceSheetInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/stock/company-cashflow-statement:
    post:
      tags:
      - openapi-v2-stock
      summary: Company Cashflow Statement
      description: Current and historical cash flow statement of publicly listed companies
      operationId: company_cashflow_statement_reportify_api_v2_stock_company_cashflow_statement_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyCashflowStatementInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/stock/company-revenue-breakdown:
    post:
      tags:
      - openapi-v2-stock
      summary: Company Revenue Breakdown
      description: Revenue breakdown of the company, by business segment, by product, or by region
      operationId: company_revenue_breakdown_reportify_api_v2_stock_company_revenue_breakdown_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyRevenueBreakdownInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/stock/index-quote:
    post:
      tags:
      - openapi-v2-stock
      summary: Index Quote
      description: Get stock index quote
      operationId: index_quote_reportify_api_v2_stock_index_prices_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexQuoteInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/stock/ipo-calendar-hk:
    post:
      tags:
      - openapi-stock-tools
      summary: Stock IPO Calendar HK
      description: Retrieve the latest Hong Kong IPO calendar, including subscription periods, listing dates, ipo names, temporary symbols, and current status
      operationId: stock_ipo_calendar_hk_reportify_api_v1_stock_ipo_calendar_hk_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockIPOCalendarHKInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /v1/stock/index-tracking-funds:
    post:
      tags:
      - openapi-stock-tools
      summary: Index Tracking Funds
      description: Get list of funds that track a specific index. Returns fund names, short names, and fund codes for all tracking funds of the given index
      operationId: index_tracking_funds_reportify_api_v1_stock_index_tracking_funds_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexFundsInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /v1/stock/index-constituents:
    post:
      tags:
      - openapi-stock-tools
      summary: Index Constituents
      description: Get list of stocks that are constituents of a specific index. Returns stock symbols and market areas for all constituent stocks of the given index
      operationId: index_constituents_reportify_api_v1_stock_index_constituents_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexConstituentsInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /v1/stock/industry-constituents:
    post:
      tags:
      - openapi-stock-tools
      summary: Industry Constituents
      description: Get list of stocks belonging to a specific industry by industry name and market area (cn/hk/us). Returns stock symbols, names, and industry classification details
      operationId: industry_constituents_reportify_api_v1_stock_industry_constituents_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndustryConstituentsInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /v1/stock/earnings-calendar:
    post:
      tags:
      - openapi-stock-tools
      summary: Stock Earnings Calendar
      description: Query stock earnings calendar by date range and market area (cn/hk/us). Returns fiscal year, quarter, and filing dates for earnings reports
      operationId: stock_earnings_calendar_reportify_api_v1_stock_earnings_calendar_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockEarningsCalendarInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockAPIResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /v1/chat/completion:
    post:
      tags:
      - openapi-chat
      summary: Chat Completion
      description: Provides answering based on document content.
      operationId: chat_completion_reportify_api_v1_chat_completion_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIChatCompletionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIChatCompletionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/concepts/today:
    get:
      tags:
      - openapi-concepts
      summary: Get Today Concepts
      description: Get today's concept feeds with trending data and event counts. Returns concepts from 9:00 AM today until now, including generation counts, earliest/latest timestamps, and event frequencies
      operationId: get_today_concept_feeds_reportify_api_v1_concepts_today_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/concepts/latest:
    get:
      tags:
      - openapi-concepts
      summary: Get Latest Concepts
      description: get latest concepts
      operationId: get_latest_concepts_reportify_api_v1_concepts_latest_get
      parameters:
      - description: include docs
        required: false
        schema:
          type: boolean
          title: Include Docs
          description: include docs
          default: true
        name: include_docs
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/channels/search:
    post:
      tags:
      - openapi-channels
      summary: Search Channels
      description: Search for channels by query string
      operationId: search_channels_reportify_api_v1_channels_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAISearchChannelRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAISearchChannelPagination'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/channels/followings:
    get:
      tags:
      - openapi-channels
      summary: Get Following Channels
      description: Get list of channels user is following
      operationId: get_following_channels_reportify_api_v1_channels_followings_get
      parameters:
      - required: false
        schema:
          type: integer
          title: Page Num
          default: 1
        name: page_num
        in: query
      - required: false
        schema:
          type: integer
          title: Page Size
          default: 10
        name: page_size
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAISearchChannelPagination'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/channels/{channel_id}/follow:
    post:
      tags:
      - openapi-channels
      summary: Follow Channel
      description: Follow a specific channel by ID
      operationId: follow_channel_reportify_api_v1_channels__channel_id__follow_post
      parameters:
      - description: Channel ID
        required: true
        schema:
          type: string
          title: Channel Id
          description: Channel ID
        name: channel_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIChannelResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/channels/{channel_id}/unfollow:
    delete:
      tags:
      - openapi-channels
      summary: Unfollow Channel
      description: Unfollow a specific channel by ID
      operationId: unfollow_channel_reportify_api_v1_channels__channel_id__unfollow_delete
      parameters:
      - description: Channel ID
        required: true
        schema:
          type: string
          title: Channel Id
          description: Channel ID
        name: channel_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusMessage'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/channels/followings/docs:
    get:
      tags:
      - openapi-channels
      summary: Get Channel Docs
      description: Get documents from followed channels
      operationId: get_channel_docs_reportify_api_v1_channels_followings_docs_get
      parameters:
      - description: Channel IDs
        required: false
        schema:
          type: string
          title: Channel Ids
          description: Channel IDs
        name: channel_ids
        in: query
      - required: false
        schema:
          type: integer
          title: Page Num
          default: 1
        name: page_num
        in: query
      - required: false
        schema:
          type: integer
          title: Page Size
          default: 10
        name: page_size
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIChannelDocPagination'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/agent/conversations:
    post:
      tags:
      - openapi-agent
      summary: Create Conversation
      description: Create a new agent conversation
      operationId: create_conversation_reportify_api_v1_agent_conversations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIAgentConversationCreateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIAgentConversationCreateResponse'
              example:
                id: 123456789
                user_id: 987654321
                agent_id: 11887655289749510
                type: "agent_chat"
                title: "nvidia 最新业绩分析"
                status: "active"
                created_at: 1765851195760
                updated_at: 1765851195768
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/agent/conversations/{conversation_id}/chat:
    post:
      tags:
      - openapi-agent
      summary: Chat
      description: Chat with agent (streaming or non-streaming)
      operationId: chat_reportify_api_v1_agent_conversations__conversation_id__chat_post
      parameters:
      - required: true
        schema:
          type: integer
          title: Conversation Id
          description: 对话 ID
        name: conversation_id
        in: path
        example: 683242877840089
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIAgentConversationChatRequest'
        required: true
      responses:
        '200':
          description: Successful Response (Server-Sent Events stream)
          headers:
            X-REPORTIFY-ASSISTANT-MESSAGE-ID:
              description: 助手消息 ID，可用于后续调用获取消息事件接口
              schema:
                type: string
                example: "019b24ef238cc97730971a9a0080c99c"
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/WorkflowStreamEvent'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/agent/conversations/{conversation_id}:
    get:
      tags:
      - openapi-agent
      summary: Get Conversation
      description: Get agent conversation details
      operationId: get_conversation_reportify_api_v1_agent_conversations__conversation_id__get
      parameters:
      - required: true
        schema:
          type: integer
          title: Conversation Id
          description: 对话 ID
        name: conversation_id
        in: path
        example: 683242877840089
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIAgentConversationRead'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/agent/conversations/{conversation_id}/messages:
    get:
      tags:
      - openapi-agent
      summary: List Conversation Messages
      description: List agent conversation messages
      operationId: list_conversation_messages_reportify_api_v1_agent_conversations__conversation_id__messages_get
      parameters:
      - required: true
        schema:
          type: integer
          title: Conversation Id
          description: 对话 ID
        name: conversation_id
        in: path
        example: 683242877840089
      - required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          title: Limit
          description: Number of messages to return
          default: 10
        name: limit
        in: query
        description: 返回的消息数量
        example: 10
      - required: false
        schema:
          type: integer
          title: Before Message Id
          description: Fetch messages created before this message id
        name: before_message_id
        in: query
        description: 获取此消息 ID 之前创建的消息
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/OAIAgentConversationMessageRead'
                    description: 消息列表
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/agent/conversations/{conversation_id}/messages/{assistant_message_id}:
    get:
      tags:
      - openapi-agent
      summary: Get Assistant Message Events
      description: Get assistant message events (streaming or non-streaming) from a specific offset
      operationId: get_assistant_message_events_reportify_api_v1_agent_conversations__conversation_id__messages__assistant_message_id__get
      parameters:
      - required: true
        schema:
          type: integer
          title: Conversation Id
          description: 对话 ID
        name: conversation_id
        in: path
        example: 683242877840089
      - required: true
        schema:
          type: string
          title: Assistant Message Id
          description: 助手消息 ID（从 chat 接口响应头 X-REPORTIFY-ASSISTANT-MESSAGE-ID 获取）
        name: assistant_message_id
        in: path
        example: "019b24ef238cc97730971a9a0080c99c"
      - required: false
        schema:
          type: boolean
          title: Stream
          description: Stream events via SSE when true
          default: true
        name: stream
        in: query
        description: 是否使用流式响应（SSE）
      - required: false
        schema:
          type: integer
          title: Timeout
          description: Timeout in seconds for streaming mode
          default: 1800
        name: timeout
        in: query
        description: 流式模式的超时时间（秒）
      - required: false
        schema:
          type: integer
          minimum: 0
          title: From Offset
          description: Start streaming from specific offset
          default: 0
        name: from_offset
        in: query
        description: 从指定偏移量开始获取事件
        example: 9200
      responses:
        '200':
          description: Successful Response (Server-Sent Events stream or JSON array)
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/WorkflowStreamEvent'
            application/json:
              schema:
                type: object
                properties:
                  assistant_events:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowStreamEvent'
                    description: 事件列表
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/agent/conversations/{conversation_id}/messages/{assistant_message_id}/cancel:
    post:
      tags:
      - openapi-agent
      summary: Cancel Agent Execution
      description: Cancel agent execution
      operationId: cancel_agent_execution_reportify_api_v1_agent_conversations__conversation_id__messages__assistant_message_id__cancel_post
      parameters:
      - required: true
        schema:
          type: integer
          title: Conversation Id
          description: 对话 ID
        name: conversation_id
        in: path
        example: 683242877840089
      - required: true
        schema:
          type: string
          title: Assistant Message Id
          description: 助手消息 ID（从 chat 接口响应头 X-REPORTIFY-ASSISTANT-MESSAGE-ID 获取）
        name: assistant_message_id
        in: path
        example: "019b24ef238cc97730971a9a0080c99c"
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIAgentConversationExecutionCancelResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/agent/files/{file_id}:
    get:
      tags:
      - openapi-agent
      summary: Get Agent File
      description: Get agent generated file by file ID
      operationId: get_agent_file_reportify_api_v1_agent_files__file_id__get
      parameters:
      - required: true
        schema:
          type: string
          title: File Id
          description: Agent generated file ID
        name: file_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/tools/user/followed-companies:
    get:
      tags:
      - openapi-tools-user
      summary: Get Followed Companies
      description: Get all companies followed by a user
      operationId: get_followed_companies_reportify_api_v1_tools_user_followed_companies_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowedCompaniesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/tools/kb/search:
    post:
      tags:
      - openapi-tools-kb
      summary: Search Knowledge Base
      description: User knowledge base search, supporting all types of user uploaded files and allows searching within specified directories
      operationId: search_kb_reportify_api_v1_tools_kb_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIKBSearchRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KBSearchOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/tools/timeline/companies:
    post:
      tags:
      - openapi-tools-timeline
      summary: Companies Timeline
      description: Document feed for the companies I follow
      operationId: companies_timeline_reportify_api_v1_tools_timeline_companies_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAITimelineToolsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimelineToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/tools/timeline/topics:
    post:
      tags:
      - openapi-tools-timeline
      summary: Topics Timeline
      description: Document feed for the topics I follow
      operationId: topics_timeline_reportify_api_v1_tools_timeline_topics_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAITimelineToolsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimelineToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/tools/timeline/institutes:
    post:
      tags:
      - openapi-tools-timeline
      summary: Institutes Timeline
      description: Document feed for the institutes I follow
      operationId: institutes_timeline_reportify_api_v1_tools_timeline_institutes_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAITimelineToolsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimelineToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/tools/timeline/public-media:
    post:
      tags:
      - openapi-tools-timeline
      summary: Public Media Timeline
      description: Document feed for the public media I follow
      operationId: public_media_timeline_reportify_api_v1_tools_timeline_public_media_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAITimelineToolsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimelineToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/tools/timeline/social-media:
    post:
      tags:
      - openapi-tools-timeline
      summary: Social Media Timeline
      description: Document feed for the social media I follow
      operationId: social_media_timeline_reportify_api_v1_tools_timeline_social_media_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAITimelineToolsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimelineToolsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/quant/indicators:
    get:
      tags:
      - openapi-quant
      summary: List available indicators
      description: |
        List all available technical indicators.

        **How to Use:** All indicators are functions, call with parentheses: `MA(CLOSE, 20)`, `RSI(14)`, `MACD()`

        **Core Functions (Level 0, TongDaXin style: col first, n second):**
        - Math: `ABS()`, `LN()`, `POW()`, `SQRT()`, `SIN()`, `COS()`, `TAN()`, `MAX()`, `MIN()`
        - Moving Averages: `MA(col, n)`, `EMA(col, n)`, `SMA(col, n, m)`, `DMA(col, alpha)`, `WMA(col, n)`
        - Statistics: `HHV(col, n)`, `LLV(col, n)`, `STD(col, n)`, `AVEDEV(col, n)`, `SUM(col, n)`, `REF(col, n)`
        - Logic: `IF()`, `CONST()`, `DIFF(col, n)`, `RD()`, `RET()`

        **Application Functions (Level 1, need parentheses):**
        - Crossover: `CROSS()`, `CROSSDOWN()`, `LONGCROSS()`
        - Counting: `COUNT()`, `EVERY()`, `EXIST()`, `BARSLAST()`, `LAST()`
        - Value: `VALUEWHEN()`, `BETWEEN()`

        **Trend Indicators (Level 2):** `MACD()`, `BOLL()`, `TAQ()`, `KTN()`, `EXPMA()`, `BBI()`

        **Momentum Indicators (Level 2):** `KDJ()`, `RSI()`, `WR()`, `CCI()`, `BIAS()`, `PSY()`, `MTM()`, `ROC()`

        **Volatility Indicators (Level 2):** `ATR()`, `DMI()`, `TRIX()`, `VR()`, `CR()`, `EMV()`, `DPO()`, `BRAR()`, `DFMA()`, `MASS()`, `OBV()`, `MFI()`, `ASI()`, `XSII()`

        Returns indicators with:
        - `name`: Indicator name for use in formulas (call with parentheses)
        - `description`: Brief description
        - `fields`: Output field names (e.g., ["dif", "dea", "macd"] for MACD)
      operationId: indicators
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                title: Response List Indicators
                description: Indicator metadata
                items:
                  $ref: '#/components/schemas/IndicatorMeta'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/quant/indicators/compute:
    post:
      tags:
      - openapi-quant
      summary: Compute indicator values
      description: |
        Compute indicator values for given symbols and date range.

        **Variables vs Functions:**
        - Variables (no parentheses): `CLOSE`, `OPEN`, `HIGH`, `LOW`, `VOLUME` (aliases: `C`, `O`, `H`, `L`, `V`, `VOL`)
        - Functions (with parentheses): `MA(CLOSE, 20)`, `RSI(14)`, `MACD()`, etc.

        **Core Function Examples (Level 0, TongDaXin style: col first, n second):**
        - `MA(CLOSE, 20)` - 20-day Simple Moving Average
        - `EMA(CLOSE, 12)` - 12-day Exponential Moving Average
        - `HHV(HIGH, 20)` - Highest value in 20 days
        - `STD(CLOSE, 20)` - 20-day Standard Deviation
        - `REF(CLOSE, 1)` - Yesterday's close

        **Application Function Examples (Level 1):**
        - `CROSS(MA(CLOSE, 5), MA(CLOSE, 20))` - MA5 crosses above MA20
        - `COUNT(CLOSE > REF(CLOSE, 1), 10)` - Count up days in 10 periods
        - `EVERY(CLOSE > REF(CLOSE, 1), 3)` - Up 3 consecutive days

        **Trend Indicator Examples (Level 2):**
        - `MACD()` - MACD with default parameters (12, 26, 9)
        - `BOLL(20, 2)` - Bollinger Bands with period 20 and 2 std dev
        - `KTN(20, 10)` - Keltner Channel

        **Momentum Indicator Examples (Level 2):**
        - `RSI(14)` - RSI with period 14
        - `KDJ(9, 3, 3)` - KDJ with custom parameters
        - `CCI(14)` - Commodity Channel Index

        **Volatility Indicator Examples (Level 2):**
        - `ATR(14)` - Average True Range
        - `DMI(14, 6)` - Directional Movement Index
        - `OBV()` - On Balance Volume

        **Response Fields:**
        Each indicator returns its specific fields:
        - RSI: `rsi`
        - MACD: `dif`, `dea`, `macd`
        - KDJ: `k`, `d`, `j`
        - BOLL: `upper`, `middle`, `lower`
        - DMI: `pdi`, `mdi`, `adx`, `adxr`
      operationId: indicators_compute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndicatorComputeInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorComputeOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/quant/factors:
    get:
      tags:
      - openapi-quant
      summary: List available factors
      description: |
        List all available factors (variables and functions) for formula computation.

        **How to Use:**
        - `type="variable"`: Use directly without parentheses, e.g. `CLOSE`, `VOLUME`
        - `type="function"`: Call with parentheses, e.g. `MA(CLOSE, 20)`, `PE()`, `ROE()`

        **Technical Factors (Level 0-2):**
        - **Level 0 Variables** (no parentheses): `CLOSE`, `OPEN`, `HIGH`, `LOW`, `VOLUME` and aliases
        - **Level 0 Functions** (TongDaXin style: col first, n second): `MA(col, n)`, `EMA(col, n)`, `REF(col, n)`, `HHV(col, n)`, `LLV(col, n)`, `STD(col, n)`, etc.
        - **Level 1 Functions** (need parentheses): `CROSS()`, `COUNT()`, `EVERY()`, etc.
        - **Level 2 Functions** (need parentheses): `MACD()`, `KDJ()`, `RSI()`, `BOLL()`, etc.

        **Fundamental Factors (Level 2, all need parentheses):**
        - **Data Accessors**: `INCOME.field`, `BALANCESHEET.field`, `CASHFLOW.field`, `EQUITY.field`
        - **Profitability**: `ROE()`, `ROA()`, `GPM()`, `NPM()`, `ROIC()`, etc.
        - **Valuation**: `PE()`, `PE_TTM()`, `PB()`, `PS()`, `PCF()`, `EV()`, `PEG()`, etc.
        - **Solvency**: `CURRENT_RATIO()`, `QUICK_RATIO()`, `DEBT_RATIO()`, etc.
        - **Growth**: `REVENUE_GROWTH_RATE()`, `NET_PROFIT_GROWTH_RATE()`, `EPS_GROWTH_RATE()`, etc.
        - **Operating**: `INVENTORY_TURNOVER()`, `ACCOUNTS_RECEIVABLE_DAYS()`, `TOTAL_ASSET_TURNOVER()`, etc.
        - **Per Share**: `EPS()`, `BPS()`, `OCFPS()`, `REVENUE_PER_SHARE()`, etc.

        Each factor includes:
        - `name`: Factor name for use in formulas
        - `type`: "variable" (no parentheses) or "function" (need parentheses)
        - `level`: 0, 1, or 2
        - `description`: Brief description (Chinese)
        - `description_en`: English description (optional)
      operationId: factors
      parameters:
      - name: market
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/StockMarket'
          default: cn
        description: Stock market (cn, hk, us), default cn
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                title: Response List Factors
                items:
                  $ref: '#/components/schemas/FactorMeta'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/quant/factors/compute:
    post:
      tags:
      - openapi-quant
      summary: Compute factor values
      description: |
        Compute factor values for given symbols and date range.

        The formula uses Mai-language syntax compatible with TongDaXin/TongHuaShun.

        **Variables vs Functions:**
        - Variables (no parentheses): `CLOSE`, `OPEN`, `HIGH`, `LOW`, `VOLUME` (aliases: `C`, `O`, `H`, `L`, `V`, `VOL`)
        - Functions (with parentheses): `MA(CLOSE, 20)`, `RSI(14)`, `PE()`, `ROE()`, etc.
        - Rule: Technical indicators and fundamental factors are functions, need `()`

        **Technical Factor Examples:**
        - `RSI(14)` - RSI indicator with period 14
        - `MACD().dif` - MACD DIF line
        - `CLOSE > MA(CLOSE, 20)` - Close above 20-day MA (boolean)
        - `(CLOSE - MA(CLOSE, 20)) / MA(CLOSE, 20) * 100` - Deviation from MA20 in percent

        **Fundamental Factor Examples (all need parentheses):**
        - `PE()` - Price to Earnings ratio
        - `PE_TTM()` - P/E ratio (TTM)
        - `PB()` - Price to Book ratio
        - `ROE()` - Return on Equity
        - `ROA()` - Return on Assets
        - `INCOME.net_profit` - Net profit from income statement (data accessor)
        - `BALANCESHEET.total_assets` - Total assets from balance sheet (data accessor)
        - `PE() < 20` - Stocks with P/E less than 20
        - `ROE() > 0.15` - Stocks with ROE greater than 15%

        **Supported Operators:**
        - Comparison: `>`, `<`, `>=`, `<=`, `==`, `!=`
        - Logical: `&` or `AND`, `|` or `OR`, `~` or `NOT` (case-insensitive)
        - Arithmetic: `+`, `-`, `*`, `/`
        - **Important: expressions on both sides of logical operators (`&`/`|`/`AND`/`OR`) must be wrapped in parentheses `()`**

        **Supported Variables (no parentheses):**
        - `CLOSE`, `C` - Close price
        - `OPEN`, `O` - Open price
        - `HIGH`, `H` - High price
        - `LOW`, `L` - Low price
        - `VOLUME`, `V`, `VOL` - Volume

        **Supported Functions (TongDaXin style: col first, n second):**
        - Level 0: MA(col, n), EMA(col, n), SMA(col, n, m), REF(col, n), HHV(col, n), LLV(col, n), STD(col, n), SUM(col, n), ABS(), MAX(), MIN(), IF()...
        - Level 1: CROSS(), CROSSDOWN(), COUNT(), EVERY(), EXIST(), BARSLAST()...
        - Level 2 Technical: RSI(), MACD(), BOLL(), KDJ(), WR(), ATR(), CCI(), BIAS(), PSY()...
        - Level 2 Fundamental: PE(), PB(), PS(), ROE(), ROA(), EPS(), BPS(), CURRENT_RATIO()...
      operationId: factors_compute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactorComputeInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactorComputeOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/quant/factors/screen:
    post:
      tags:
      - openapi-quant
      summary: Screen stocks by factor
      description: |
        Screen stocks based on factor formula.

        Returns stocks where the formula evaluates to True (for boolean formulas)
        or non-null (for numeric formulas).

        **Variables vs Functions:**
        - Variables (no parentheses): `CLOSE`, `OPEN`, `HIGH`, `LOW`, `VOLUME` (aliases: `C`, `O`, `H`, `L`, `V`, `VOL`)
        - Functions (with parentheses): `MA(CLOSE, 20)`, `RSI(14)`, `PE()`, `ROE()`, etc.
        - Rule: Technical indicators and fundamental factors are functions, need `()`

        **Technical Screening Examples:**
        - `RSI(14) < 30` - RSI oversold
        - `CROSS(MA(CLOSE, 5), MA(CLOSE, 10))` - Golden cross (MA5 crosses above MA10)
        - `CROSSDOWN(MA(CLOSE, 5), MA(CLOSE, 10))` - Death cross (MA5 crosses below MA10)
        - `(CLOSE > MA(CLOSE, 20)) & (MA(CLOSE, 20) > MA(CLOSE, 60))` - Uptrend with MA alignment
        - `CLOSE > BOLL(20, 2).upper` - Above upper Bollinger Band
        - `(KDJ().j < 20) & (CROSS(KDJ().k, KDJ().d))` - KDJ low golden cross
        - `MACD().dif > MACD().dea` - MACD bullish
        - `CLOSE > REF(CLOSE, 1) * 1.05` - Up more than 5% from yesterday
        - `CLOSE > HHV(HIGH, 20)` - New 20-day high
        - `COUNT(CLOSE > REF(CLOSE, 1), 5) >= 4` - Up at least 4 of last 5 days
        - `EVERY(CLOSE > REF(CLOSE, 1), 3)` - Up 3 consecutive days
        - `(CLOSE > MA(CLOSE, 10)) & (MA(CLOSE, 10) > MA(CLOSE, 20)) & (MA(CLOSE, 20) > MA(CLOSE, 60))` - Multi-MA bullish
        - `(MA(CLOSE, 10) > REF(MA(CLOSE, 10), 5)) & (MA(CLOSE, 20) > REF(MA(CLOSE, 20), 5))` - MA trending up
        - `VOLUME > MA(VOLUME, 20) * 2` - Volume spike (2x 20-day average)

        **Fundamental Screening Examples (all need parentheses):**
        - `PE() < 15` - Low P/E stocks
        - `PE_TTM() < 20` - P/E TTM under 20
        - `PB() < 1` - Price below book value
        - `ROE() > 0.15` - ROE greater than 15%
        - `(PE() < 20) & (ROE() > 0.1)` - Value + quality
        - `(PE_TTM() < 15) & (PB() < 2) & (ROE() > 0.12)` - Multi-factor value screening
        - `REVENUE_GROWTH_RATE() > 0.2` - Revenue growth > 20%
        - `NET_PROFIT_GROWTH_RATE() > 0.3` - Net profit growth > 30%
        - `CURRENT_RATIO() > 2` - Strong liquidity
        - `DEBT_TO_EQUITY_RATIO() < 0.5` - Low leverage
        - `GPM() > 0.3` - Gross profit margin > 30%

        **Combined Technical + Fundamental:**
        - `(PE() < 20) & (RSI(14) < 40)` - Cheap + oversold
        - `(ROE() > 0.12) & (CLOSE > MA(CLOSE, 20))` - Quality + uptrend
        - `(PB() < 1.5) & (CROSS(MA(CLOSE, 5), MA(CLOSE, 20)))` - Value + golden cross

        **Supported Operators:**
        - Comparison: `>`, `<`, `>=`, `<=`, `==`, `!=`
        - Logical: `&` or `AND`, `|` or `OR`, `~` or `NOT` (case-insensitive)
        - Arithmetic: `+`, `-`, `*`, `/`
        - **Important: expressions on both sides of logical operators (`&`/`|`/`AND`/`OR`) must be wrapped in parentheses `()`**

        **Supported Variables (no parentheses):**
        - `CLOSE`, `C` - Close price
        - `OPEN`, `O` - Open price
        - `HIGH`, `H` - High price
        - `LOW`, `L` - Low price
        - `VOLUME`, `V`, `VOL` - Volume

        **Supported Functions (TongDaXin style: col first, n second):**
        - Level 0: MA(col, n), EMA(col, n), SMA(col, n, m), REF(col, n), HHV(col, n), LLV(col, n), STD(col, n), SUM(col, n), ABS(), MAX(), MIN(), IF()...
        - Level 1: CROSS(), CROSSDOWN(), COUNT(), EVERY(), EXIST(), BARSLAST()...
        - Level 2 Technical: RSI(), MACD(), BOLL(), KDJ(), WR(), ATR(), CCI(), BIAS(), PSY()...
        - Level 2 Fundamental: PE(), PB(), PS(), ROE(), ROA(), EPS(), BPS(), CURRENT_RATIO()...
      operationId: factors_screen
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactorScreenInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactorScreenOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/quant/quotes/ohlcv:
    get:
      tags:
      - openapi-quant
      summary: Get OHLCV data
      description: |
        Get OHLCV (Open, High, Low, Close, Volume) daily data for a single symbol.

        - **symbol**: Stock code (required)
        - **market**: Stock market (cn, hk, us), default: cn
        - **start_date**: Start date (optional, default: 1 months ago)
        - **end_date**: End date (optional, default: today)
      operationId: quote_ohlcv
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
          title: Symbol
        description: Stock code (e.g., 600519, 00700, AAPL)
      - name: market
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/StockMarket'
          default: cn
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Start Date
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: End Date
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OHLCVOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/quant/quotes/ohlcv/batch:
    post:
      tags:
      - openapi-quant
      summary: Get batch OHLCV data for multiple symbols
      description: |
        Get OHLCV (Open, High, Low, Close, Volume) daily data for multiple symbols.

        - **symbols**: List of stock code (required)
        - **market**: Stock market (cn, hk, us), default: cn
        - **start_date**: Start date (optional, default: 1 month ago)
        - **end_date**: End date (optional, default: today)

        Returns data sorted by date (descending), then by symbol.
      operationId: quote_ohlcv_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchOHLCVInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchOHLCVOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /v1/quant/backtest:
    post:
      tags:
      - openapi-quant
      summary: Run strategy backtest
      description: |
        Execute strategy backtest with the given parameters.

        **Variables vs Functions:**
        - Variables (no parentheses): `CLOSE`, `OPEN`, `HIGH`, `LOW`, `VOLUME`
        - Functions (with parentheses): `MA(CLOSE, 20)`, `RSI(14)`, `PE()`, `ROE()`, etc.

        **Input Parameters:**
        - `start_date`: Backtest start date (required)
        - `end_date`: Backtest end date (required)
        - `market`: Stock market (cn, hk, us), default: cn
        - `symbol`: Stock code (required)
        - `entry_formula`: Buy/entry formula, triggers buy when result > 0 (required)
        - `exit_formula`: Sell/exit formula, triggers sell when result > 0 (optional)
        - `initial_cash`: Initial capital, default: 100000.0
        - `commission`: Commission rate, default: 0.0
        - `stop_loss`: Stop loss percentage, default: 0.0 (disabled)
        - `sizer_percent`: Position size percentage, default: 99%
        - `auto_close`: Auto close position at end, default: true
        - `labels`: Label dictionary for returning additional indicator values in daily data

        **Formula Examples:**
        - `CROSS(MA(CLOSE, 5), MA(CLOSE, 20))` - Golden cross signal
        - `RSI(14) < 30` - RSI oversold
        - `MA(CLOSE, 5) > MA(CLOSE, 20)` - State-based uptrend
        - `CLOSE > REF(CLOSE, 1) * 1.05` - Up more than 5%
        - `(PE() < 20) & (ROE() > 0.1)` - Fundamental screening

        **Output:**
        Returns backtest results including:
        - Performance metrics (return, drawdown, win rate, etc.)
        - Trade list with entry/exit details
        - Daily data with OHLC and label values
      operationId: quant_backtest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BacktestInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BacktestOutput'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []

components:
  schemas:
    Body_create_token_reportify_api_v1_oauth_token_post:
      properties:
        grant_type:
          type: string
          title: Grant Type
        client_assertion_type:
          type: string
          title: Client Assertion Type
        client_assertion:
          type: string
          title: Client Assertion
      type: object
      required:
      - grant_type
      - client_assertion_type
      - client_assertion
      title: Body_create_token_reportify_api_v1_oauth_token_post
    Body_upload_doc_by_form_reportify_api_v1_docs_upload_form_post:
      properties:
        file:
          type: string
          format: binary
          title: File
        folder_id:
          type: string
          title: Folder Id
          description: Folder ID, if you do not pass it, use the default folder
        name:
          type: string
          title: Name
          description: File name, if you do not pass it, use the file name in the
            URL
        metadatas:
          type: string
          title: Metadatas
          description: 'metadatas json string, example: {"period": "2023Q4", "entities":
            ["companyA", "companyB"]}'
        published_at:
          type: integer
          title: Published At
          description: Document release time, millisecond time stamp
        tags:
          type: string
          title: Tags
          description: 'Document tag list, json string, example: {"key": ["value1",
            "value2"]}'
      type: object
      required:
      - file
      title: Body_upload_doc_by_form_reportify_api_v1_docs_upload_form_post
    CompanyLabel:
      properties:
        name:
          type: string
          title: Name
        logo:
          type: string
          title: Logo
        stocks:
          items:
            $ref: '#/components/schemas/CompanyStock'
          type: array
          title: Stocks
      type: object
      required:
      - name
      title: CompanyLabel
    CompanyStock:
      properties:
        symbol:
          type: string
          title: Symbol
        market:
          type: string
          title: Market
        code:
          type: string
          title: Code
      type: object
      required:
      - symbol
      - market
      - code
      title: CompanyStock
    DateRangeEnum:
      type: string
      enum:
      - h
      - d
      - w
      - m
      - y
      title: DateRangeEnum
      description: An enumeration.
    DocsUploadStatusEnum:
      type: string
      enum:
      - pending
      - processing
      - completed
      title: DocsUploadStatusEnum
      description: An enumeration.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ErrorResponse:
      properties:
        status:
          type: integer
          title: Status
          description: HTTP status code
        code:
          type: integer
          title: Code
          description: Error code
        message:
          type: string
          title: Message
          description: Error message
      type: object
      title: ErrorResponse
      description: Standard error response
    OAIChannelDocPagination:
      properties:
        total_count:
          type: integer
          title: Total Count
          default: 0
        total_page:
          type: integer
          title: Total Page
          default: 0
        page_num:
          type: integer
          title: Page Num
          default: 1
        page_size:
          type: integer
          title: Page Size
          default: 10
        docs:
          items:
            $ref: '#/components/schemas/OAIDoc'
          type: array
          title: Docs
          description: List of doc responses.
      type: object
      title: OAIChannelDocPagination
    OAIChannelResponse:
      properties:
        id:
          type: string
          title: Id
          description: channel ID
        name:
          type: string
          title: Name
          description: channel name
        description:
          type: string
          title: Description
          description: channel description
          nullable: true
        avatar_url:
          type: string
          title: Avatar Url
          description: channel avatar
          nullable: true
        following:
          type: boolean
          title: Following
          description: follow flag
          default: false
          nullable: true
      type: object
      required:
      - id
      - name
      title: OAIChannelResponse
    OAIChatCompletionRequest:
      properties:
        query:
          type: string
          title: Query
        folder_ids:
          items:
            type: string
          type: array
          title: Folder Ids
          default: []
        doc_ids:
          items:
            type: string
          type: array
          title: Doc Ids
          default: []
        categories:
          items:
            $ref: '#/components/schemas/OAIDocCategory'
          type: array
          default: []
        markets:
          items:
            $ref: '#/components/schemas/OAIMarket'
          type: array
          default: []
        institutions:
          items:
            type: string
          type: array
          title: Institutions
          default: []
        symbols:
          items:
            type: string
          type: array
          title: Symbols
          default: []
        tags:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Tags
        start_date:
          type: string
          title: Start Date
        end_date:
          type: string
          title: End Date
        min_score:
          type: number
          title: Min Score
        extended_filters:
          items:
            type: object
          type: array
          title: Extended Filters
        mode:
          allOf:
          - $ref: '#/components/schemas/OAIChatMode'
          default: concise
        session_id:
          type: string
          title: Session Id
          default: ''
        stream:
          type: boolean
          title: Stream
          default: true
      type: object
      required:
      - query
      title: OAIChatCompletionRequest
    OAIChatCompletionResponse:
      properties:
        type:
          type: string
          title: Type
        message_id:
          type: string
          title: Message Id
        message:
          type: string
          title: Message
        extra:
          type: object
          title: Extra
          default: {}
      type: object
      required:
      - type
      - message_id
      - message
      title: OAIChatCompletionResponse
    OAIChatMode:
      type: string
      enum:
      - concise
      - comprehensive
      - deepresearch
      title: OAIChatMode
      description: An enumeration.
    OAIChunk:
      properties:
        id:
          type: string
          title: Id
        type:
          $ref: '#/components/schemas/OAIChunkType'
        media_url:
          type: string
          title: Media Url
        content:
          type: string
          title: Content
        summary:
          type: string
          title: Summary
        metadata:
          type: object
          title: Metadata
      type: object
      title: OAIChunk
    OAIChunkType:
      type: string
      enum:
      - text
      - table
      - image
      - formula
      title: OAIChunkType
      description: An enumeration.
    OAIChunkWithDoc:
      properties:
        id:
          type: string
          title: Id
        type:
          $ref: '#/components/schemas/OAIChunkType'
        media_url:
          type: string
          title: Media Url
        content:
          type: string
          title: Content
        summary:
          type: string
          title: Summary
        metadata:
          type: object
          title: Metadata
        doc:
          anyOf:
          - $ref: '#/components/schemas/OAIDoc'
          - $ref: '#/components/schemas/OAIDocBase'
          title: Doc
      type: object
      title: OAIChunkWithDoc
    OAIDoc:
      properties:
        doc_id:
          type: string
          title: Doc Id
        title:
          type: string
          title: Title
        url:
          type: string
          title: Url
        institution:
          type: string
          title: Institution
        author:
          type: string
          title: Author
        published_at:
          type: integer
          title: Published At
        category:
          $ref: '#/components/schemas/OAIDocCategory'
        market:
          $ref: '#/components/schemas/OAIMarket'
        ticker:
          type: string
          title: Ticker
        symbol:
          type: string
          title: Symbol
        company_name:
          type: string
          title: Company Name
        logo:
          type: string
          title: Logo
        companies:
          items:
            $ref: '#/components/schemas/CompanyLabel'
          type: array
          title: Companies
        tags:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Tags
        metadatas:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Metadatas
        report_type:
          type: integer
          title: Report Type
        channel_id:
          type: string
          title: Channel Id
        channel_name:
          type: string
          title: Channel Name
      type: object
      required:
      - doc_id
      - title
      - url
      title: OAIDoc
    OAIDocBase:
      properties:
        doc_id:
          type: string
          title: Doc Id
        title:
          type: string
          title: Title
        url:
          type: string
          title: Url
      type: object
      required:
      - doc_id
      - title
      - url
      title: OAIDocBase
    OAIDocCategory:
      type: string
      enum:
      - financials
      - transcripts
      - reports
      - news
      - files
      - filings
      - socials
      title: OAIDocCategory
      description: An enumeration.
    OAIDocContentsResponse:
      properties:
        doc_id:
          type: string
          title: Doc Id
        title:
          type: string
          title: Title
        url:
          type: string
          title: Url
        institution:
          type: string
          title: Institution
        author:
          type: string
          title: Author
        published_at:
          type: integer
          title: Published At
        category:
          $ref: '#/components/schemas/OAIDocCategory'
        market:
          $ref: '#/components/schemas/OAIMarket'
        ticker:
          type: string
          title: Ticker
        symbol:
          type: string
          title: Symbol
        company_name:
          type: string
          title: Company Name
        logo:
          type: string
          title: Logo
        companies:
          items:
            $ref: '#/components/schemas/CompanyLabel'
          type: array
          title: Companies
        tags:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Tags
        metadatas:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Metadatas
        report_type:
          type: integer
          title: Report Type
        channel_id:
          type: string
          title: Channel Id
        channel_name:
          type: string
          title: Channel Name
        file_url:
          type: string
          title: File Url
        media_url:
          type: string
          title: Media Url
        chunks:
          items:
            $ref: '#/components/schemas/OAIChunk'
          type: array
          title: Chunks
      type: object
      required:
      - doc_id
      - title
      - url
      title: OAIDocContentsResponse
    OAIDocDetail:
      properties:
        doc_id:
          type: string
          title: Doc Id
        title:
          type: string
          title: Title
        url:
          type: string
          title: Url
        institution:
          type: string
          title: Institution
        author:
          type: string
          title: Author
        published_at:
          type: integer
          title: Published At
        category:
          $ref: '#/components/schemas/OAIDocCategory'
        market:
          $ref: '#/components/schemas/OAIMarket'
        ticker:
          type: string
          title: Ticker
        symbol:
          type: string
          title: Symbol
        company_name:
          type: string
          title: Company Name
        logo:
          type: string
          title: Logo
        companies:
          items:
            $ref: '#/components/schemas/CompanyLabel'
          type: array
          title: Companies
        tags:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Tags
        metadatas:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Metadatas
        report_type:
          type: integer
          title: Report Type
        channel_id:
          type: string
          title: Channel Id
        channel_name:
          type: string
          title: Channel Name
        file_url:
          type: string
          title: File Url
        media_url:
          type: string
          title: Media Url
      type: object
      required:
      - doc_id
      - title
      - url
      title: OAIDocDetail
    OAIDocSummaryResponse:
      properties:
        doc_id:
          type: string
          title: Doc Id
        summary:
          type: string
          title: Summary
      type: object
      required:
      - doc_id
      - summary
      title: OAIDocSummaryResponse
    OAIDocsDeleteRequest:
      properties:
        doc_ids:
          items:
            type: string
          type: array
          title: Doc Ids
      type: object
      required:
      - doc_ids
      title: OAIDocsDeleteRequest
    OAIDocsDeleteResponse:
      properties:
        doc_ids:
          items:
            type: string
          type: array
          title: Doc Ids
      type: object
      required:
      - doc_ids
      title: OAIDocsDeleteResponse
    OAIDocsIdResponse:
      properties:
        id:
          type: string
          title: Id
        title:
          type: string
          title: Title
        original_url:
          type: string
          title: Original Url
      type: object
      required:
      - id
      - title
      - original_url
      title: OAIDocsIdResponse
    OAIDocsListRequest:
      properties:
        page_num:
          type: integer
          title: Page Num
          default: 1
        page_size:
          type: integer
          title: Page Size
          default: 10
        markets:
          items:
            $ref: '#/components/schemas/OAIMarket'
          type: array
          default: []
        institutions:
          items:
            type: string
          type: array
          title: Institutions
          default: []
        symbols:
          items:
            type: string
          type: array
          title: Symbols
          default: []
        tags:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Tags
        start_date:
          type: string
          title: Start Date
        end_date:
          type: string
          title: End Date
        min_score:
          type: number
          title: Min Score
        extended_filters:
          items:
            type: object
          type: array
          title: Extended Filters
        folder_ids:
          items:
            type: string
          type: array
          title: Folder Ids
          default: []
        categories:
          items:
            $ref: '#/components/schemas/OAIDocCategory'
          type: array
          default:
          - financials
          - transcripts
          - reports
          - news
          - filings
          - socials
      type: object
      title: OAIDocsListRequest
    OAIDocsResponse:
      properties:
        total_count:
          type: integer
          title: Total Count
          default: 0
        total_page:
          type: integer
          title: Total Page
          default: 0
        page_num:
          type: integer
          title: Page Num
          default: 1
        page_size:
          type: integer
          title: Page Size
          default: 10
        docs:
          items:
            $ref: '#/components/schemas/OAIDoc'
          type: array
          title: Docs
          default: []
      type: object
      title: OAIDocsResponse
    OAIDocsSymbolsRequest:
      properties:
        page_num:
          type: integer
          title: Page Num
          default: 1
        page_size:
          type: integer
          title: Page Size
          default: 10
        categories:
          items:
            $ref: '#/components/schemas/OAIDocCategory'
          type: array
          default:
          - financials
          - transcripts
          - reports
          - news
          - filings
          - socials
        markets:
          items:
            $ref: '#/components/schemas/OAIMarket'
          type: array
          default: []
        start_date:
          type: string
          title: Start Date
        end_date:
          type: string
          title: End Date
        symbols:
          items:
            type: string
          type: array
          title: Symbols
      type: object
      required:
      - symbols
      title: OAIDocsSymbolsRequest
    OAIDocsTagsRequest:
      properties:
        page_num:
          type: integer
          title: Page Num
          default: 1
        page_size:
          type: integer
          title: Page Size
          default: 10
        categories:
          items:
            $ref: '#/components/schemas/OAIDocCategory'
[...]
